.Signup {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../public/sj.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url('../public/sj.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.form-box {
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    background-color: #222536;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(202, 31, 31, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #0d1e25 2px solid;
}

.form-box input {
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
}

.form-box img {
    margin-bottom: 20px;
}

.Signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Signup h1 {
    margin-bottom: 20px;
}

.btn-submit {
    width: 200px;
    background-color: #485FC7;
}

.Signup alert alert-success {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    width: 300px;
    height: 35px;
    margin-top: 0px;
}

.submit-button {
    margin-bottom: 20px;

}